@keyframes slideInLeft {
    from{
        transform: translateX(-200px);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInDown {
    from{
        transform: translateY(100px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

body{
    background-color: rgb(6 6 6);
}

.headings{
    color : rgb(255,255,255);
    font-size: 25px;
    text-align: center;
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-style: normal;
}

.inputBoxes{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.inputButtons{
    cursor: pointer;
    border-radius: 8px;
    color : white;
    background-color: rgba(38,38,38);
    font-family: "Edu AU VIC WA NT Hand";
    font-weight:500;
    overflow: hidden;
    width: 110px;
    height: 35px;
    font-size: 14px;
    margin: 10px;
    border : none;
}

.twoDbox,.inputter{
    font-family: "Caveat";
    text-align: center;
    font-size: 22px;
    width: 120px;
    height: 30px;
    border-radius: 5px;
    margin: 20px;
    background-color: rgba(38,38,38);
    border : none;
    color: white;
}

.inputButtons:hover,.generateButton:hover{
    background-color: rgb(100, 100, 100);
}


.inputButtonsDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 18px;
}

.twoDArraybutton{
    text-align: center;
}

.charDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.generatorDiv{
    display: flex;
    justify-content: center;
    text-align: center;
}

.generateButton{
    cursor: pointer;
    color: rgb(40,194,68);
    background-color : rgb(38,38,38);
    font-family: "Edu AU VIC WA NT Hand";
    font-weight: 500;
    font-size: 17px;
    overflow: hidden;
    border-radius: 8px;
    height: 35px;
    width: 100px;
    margin-bottom: 25px;
    border : none;
}

.generateButton:active{
    cursor: progress;
    background-color: rgb(124, 124, 124);
    opacity: 0.7;
    transition: all 0ms ease-in-out;
}

.copyButton{
    cursor: pointer;
    width: 1002px;
    font-family: "Edu AU VIC WA NT Hand";
    font-weight: 500;
    text-align: center;
    background-color: rgb(51, 51, 51,255);
    color: rgb(255, 255, 255);
    border-radius: 7px 7px 0px 0px;
    font-size: 15px;
}

.copyButton:active{
    transition: all 0ms ease-in;
    opacity: 0.6;
    color: white;
}

.sample{
    display: grid;
    grid-template:max-content;
}

.outputBoxDiv{
    display: flex;
    justify-content: center;
}

.outputBox{
    font-family: system-ui, -apple-system;
    font-size: 15px;
    border-radius: 0px 0px 7px 7px ;
    width: 1000px;
    height: 400px;
    resize: none;
    background-color: rgba(38,38,38);
    color: white;
}

*{
    transition: 200ms all ease-in;
    scroll-behavior: smooth;
}

.charDiv,.headings{
    animation-name: slideInLeft;
    animation-duration: 1100ms;
}
.inputBoxes,.inputButtonsDiv{
    animation-name: slideInLeft;
    animation-duration: 1000ms;
}
.outputBoxDiv{
    animation-name: slideInDown;
    animation-duration: 1000ms;
}
